.portfolio__box{
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    background-color: black;
}


.portfolio__info{
    border:solid 1px white;
}

.portfolio__h4{
    color: var(--color-primary);
    margin:20px;
    font-size: 1.5rem;
}

.portfolio__h4{
    color: var(--color-primary);
    font-size: 1.5rem;
}