.skills__box{
    border: solid 1px white;
    margin:20px;
    display: flex;
    flex-direction: column;
}

.skills__info{
    margin:10px;
    text-align: center;
}

.skills__h4{
    color: var(--color-primary);
}