.card__presentation{
    padding:5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #176a40,#040404);
}

.card__information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:20px;
}

.card__album{
    color:#ffffff;
    padding:0.5rem;
    font-size: 1.5rem;
}

.card__tittle{
    color:#ffffff;
    padding:0.5rem;
    font-size: 2rem;

}

.card__subtitle{
    color:#ffffff;
    font-size: 1rem;

}




  /* ======= Media Queries ====== */

@media screen and (max-width: 600px) { 
    .card__presentation{
        padding:1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #176a40,#040404);
    }

   
}